@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body {

    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

table {
    border: 0px solid black;
/*    border-collapse: collapse;*/
}

tr {
  cursor: pointer;
}

th, td {
    padding: 4px;
    
}
.header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 35px;
    text-align: center;
    padding-top: 20px;
    vertical-align: top;
    line-height: 55px;
}
#loader {
    padding-left: 330px;
    padding-top: 100px; 
}

.churn_div {
    font-size: 15px;
    padding-bottom: 0;
}

.explanation {
    width: 680px;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    font-size: 10pt;
    font-weight: 300;
    padding-bottom: 20px;
    padding-top:10px;    
}

h1 {
    width: 500px;
    padding-top:8px;
    padding-left: 20px;
    float: left;
    font-family: "Open Sans", sans-serif;
    font-size: 15pt;
    font-weight: 300;

}

input {
    width: 70px;
}

.submit_div {
  float:right;
  padding: 0 10px 0 10px;
}

.input_div {
  float:left;
  padding: 5px 10px 0 10px;
}

.inner_div {
  float:left;
  padding: 5px 5px 5px 5px;
  margin: 0 2px 0 2px;
}


div {
/*  float:left;*/
  padding:10px 10px 0 10px;
}

.main_div {
  clear:both;
}

#pred_value {
  float:left;
}

#loader {
    /*background-color: #fff;*/
    /*opacity: 0.9;*/
    position: absolute;
    padding: 100px 10px 10px 300px;
    width: 400px;
    height: 500px;
}


/* I got the button CSS from http://www.lab.tommasoraspo.com/simple-web-buttoms/ */

.button {
    float: left;
    cursor: pointer;
    margin: 0 5px;
    text-align: center;
    /*display: inline-block;*/
    text-decoration: none;
    font: bold 12px/12px HelveticaNeue, Arial;
    padding: 8px 11px;
    color: #555;
    border: 1px solid #dedede;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.button.white {
    background: #f5f5f5;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f0f0f0');
    /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f0f0f0));
    /*  WebKit */
    background: -moz-linear-gradient(top, #f9f9f9, #f0f0f0);
    border-color: #dedede #d8d8d8 #d3d3d3;
    color: #555;
    text-shadow: 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
    -moz-box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
    box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
}
.button.white:hover {
    background: #f4f4f4;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#f8f8f8');
    /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#f8f8f8));
    /*  WebKit */
    background: -moz-linear-gradient(top, #efefef, #f8f8f8);
    border-color: #c7c7c7 #c3c3c3 #bebebe;
    text-shadow: 0 1px 0 #fdfdfd;
    -webkit-box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
    -moz-box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
    box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
